* {
    margin: 0;
    font-family: sans-serif;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: black;
    --background-colour: cadetblue;
    --marker-colour: black;
    --field-colour: white;
    --indicator-colour: white;
    --field-border-colour: black;
    --indicator-border-colour: black;
    --shadow-colour: black;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--background-colour);
    display: flex;
    justify-content: center;
    align-items: center;
}

#game {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
}

#field_wrapper {
    z-index: 2;
    grid-column: 2;
    grid-row: 2;
    background-color: var(--field-colour);
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem var(--shadow-colour);
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicator_wrapper {
    z-index: 1;
    background-color: var(--indicator-colour);
    border-radius: 0.5rem;
    margin: 0.5rem;
    box-shadow: 0 0 0.75rem var(--shadow-colour);
}

.indicator_wrapper.upper {
    grid-column: 2;
    grid-row: 1;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    transform: translateY(1rem);
}

.indicator_wrapper.left {
    grid-column: 1;
    grid-row: 2;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    transform: translateX(1rem);
}

table {
    border-spacing: 0.1rem;
    background-color: var(--field-border-colour);
}

.indicator_wrapper.left table {
    border-spacing: 0 0.1rem;
    background: linear-gradient(90deg, transparent 0%, var(--indicator-border-colour) 100%);
}

.indicator_wrapper.upper table {
    border-spacing: 0.1rem 0;
    background: linear-gradient(180deg, transparent 0%, var(--indicator-border-colour) 100%);
}

td {
    width: 3rem;
    height: 3rem;
    background-color: var(--field-colour);
    font-size: 30px;
    text-align: center;
    position: relative;
}

.indicator_wrapper td {
    background: var(--indicator-colour);
}

td.filled::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 2.75rem;
    height: 2.75rem;
    margin: auto;
    border-radius: 1rem;
    background-color: var(--marker-colour);
}

td.checked::after, td.checked::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0.3rem;
    height: 3rem;
    margin: auto;
    border-radius: 0.15rem;
    transform: rotate(45deg);
    background-color: var(--marker-colour);
}

td.checked::after {
    transform: rotate(45deg);
}

td.checked::before {
    transform: rotate(135deg);
}

#lives {
    grid-column: 3;
    grid-row: 2;
    padding: 0.5rem;
    display: flex;
    flex-direction: column-reverse;
    width: 2.75rem;
}

.live {
    width: 100%;
    margin: 0.2rem;
    aspect-ratio: 1;
    border-image: radial-gradient(red 69%, #0000 70%) 84.5%/50%;
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);
}

#field_wrapper {
    position: relative;
}

#field_wrapper::after {
    content: attr(data-heads-up);
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 1rem var(--shadow-colour);
    text-align: center;
    padding: 1.5rem;
    border-radius: 1rem;
    width: fit-content;
    height: fit-content;
    margin: auto;
    font-size: 20px;
    opacity: 0;
    pointer-events: none;
    color: white;

    transition: opacity linear 0.5s;
}

#field_wrapper.pop_up::after {
    opacity: 1;
}

#field_wrapper[data-colour=red]::after {
    background-color: red;
}

#field_wrapper[data-colour=steelblue]::after {
    background-color: steelblue;
}